<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li class="left"><a href="/home">View Calendar</a></li>
            <li class="left"><a href="/addevent">Create Event</a></li>
            <li class="left active"><a href="/request">Schedule Event</a></li>
            <li class="left"><a href="/inbox">Inbox</a></li>
            <li class="right"><a href="/logout">Log Out</a></li>
        </ul>
        <ul id="nav-mobile" class="hide-on-large-only">
            <li class="left"><a href="/home"><i class="material-icons prefix">home</i></a></li>
            <li class="left"><a href="/addevent"><i class="material-icons prefix">event</i></a></li>
            <li class="left active"><a href="/request"><i class="material-icons prefix">calendar_today</i></a></li>
            <li class="left"><a href="/inbox"><i class="material-icons prefix">mail_outline</i></a></li>
            <li class="right"><a href="/logout"><i class="material-icons prefix">directions_walk</i></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <a href="/home">← Back To Home</a>
                    <h5 class="card-title">Event:</h5>
                    <p>
                        <strong>ID</strong>: {{event.id}}</p>
                    <p>
                        <p>
                            <strong>Event Name:</strong>: {{event.title}}</p>
                        <p>
                            <strong>Description:</strong> {{event.description}}</p>

                        <h5 class="card-title">Attendee List:</h5>
                        <ul id="user-list" class="list-group">
                            {{#each examples}}
                            <li data-id="{{this.id}}" class="list-group-item">
                                <a href="example/{{this.id}}">{{this.name}}</a>
                                <button class="btn btn-primary float-right invite">+</button>
                                <button class="btn btn-danger float-right delete">ｘ</button>
                            </li>
                            {{/each}}
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>