<div>

  {{#each invites}}
    <h4>{{this.owner}} has requested a meetup</h4>
    {{this.eventTitle}}
    {{this.startTime}}
    {{this.endTime}}
    {{this.eventDate}}
    {{this.reason}}
    {{#each this.times}}
      {{this}}
    {{/each}}
  {{/each}}

</div>
