<div>

  {{#each invites}}
    {{this.owner}}
    {{this.eventTitle}}
    {{this.startTime}}
    {{this.endTime}}
    {{this.eventDate}}
    {{this.reason}}
    {{!-- {{#each this.times}}
      {{this}}
    {{/each}} --}}
  {{/each}}

</div>
